
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  outline: 1px solid lime;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.header {
  background-color: #2d2f3b;
  height: 90px;
  color: white;
  border-bottom:6px solid #4b4e61;
}
.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float:  left;
  margin-top: 34px;
  font-size: 1.4rem;
}

.links {
  float:right;
  margin-top: 40px;
  font-size: 0.75rem;
  color: #4b4e61;
}

.links a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

.salmon {
  color: #f16c65;
}

.banner {
  background-color: #f16c65;
  padding:  20px 0;
  text-align: center;

}

.banner img{
  max-width: 780px;
  width:90%;
}

.service {
max-width: 940px;
margin-left: auto;
margin-right: auto;
height: 400px;
color: #666d89;
padding-top: 50px;
border-bottom:6px solid #ffffff;
}

.ourservices {
  font-size: 1.6rem;
}

.underheader {
  padding-top: 25px;
  font-size: 1.1rem;
}

.box1 {
  margin-top: 40px;
  width: 300px;
  height: 200px;
}

.icon1 {
  float: left;
}

.header1 {
  margin-left: 10px;
  float: left;
  font-size: 1.1rem;
}

.area1 {
  width: 300px;
  height: 89px;
}

.text1 {
  font-size: .7rem;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  width: 220px;
  height: 57px;
}

.icon2box {
width: 300px;
height: 113px;
}

.portfolio {
    background-color: #2d303a;
    height: 868px;
    margin-left: auto;
    margin-right: auto;
}
.tags {
  padding-top: 10px;
  padding-bottom: 14px; }

.textportfolio {
  font-size: 0.7rem;
}

@media screen and (max-width:550px){

.logo {
  float: none;
  margin-top: 0;
  text-align: center;
  padding-top: 15px; }

.links {

    float:none;
    margin-top: 15px;
    margin-left: auto;
    text-align: center;
}
